<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>研發能量展現平台 > 資料數據下載</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <script src="/library/jquery.dm-uploader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="/library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/library/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/checkAnimation.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/function-style.css">
    <script src="/library/angular.js"></script>
    <script>
        if (!$.cookie('account')){window.location='/processor';}
        angular.module('Processor', []).controller('MainCtrl', function($scope, $http) {
        });
    </script>
    <script src="/processor/rnpp/download.js"></script>
</head>

<body ng-app="ProcessorDownload"  ng-controller="MainCtrl">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <h1>研發能量展現平台 > 資料數據下載</h1>
            <button onclick="location.href='/processor/overview?sys=rnpp'" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-reply fa-1x"></i><br />
                <br>返回
            </button>
        </div>

        <div>
            <div ng-show="loading" style="position: fixed; top: 50%; left: 50%;">
                <div class="check_mark" ng-show="loading_state == 1">
                    <div class="sa-icon sa-success animate">
                        <span class="sa-line sa-tip animateSuccessTip"></span>
                        <span class="sa-line sa-long animateSuccessLong"></span>
                        <div class="sa-placeholder"></div>
                        <div class="sa-fix"></div>
                    </div>
                    <div class="w-100 d-flex justify-content-center" ng-show="loading_state == 0"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                </div>
            </div>
            
            <div ng-show="!loading" style="overflow: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">填寫時間</th>
                            <th scope="col">送出時間</th>
                            <th scope="col">審查起始日</th>
                            <th scope="col">審查終止日</th>
                            <th scope="col">審核結果</th>
                            <th scope="col">教師員工編號</th>
                            <th scope="col">教師姓名</th>
                            <th scope="col">隸屬學院</th>
                            <th scope="col">隸屬系所</th>
                            <th scope="col">電子郵件</th>
                            <th scope="col">連絡電話</th>
                            <th scope="col">主題</th>
                            <th scope="col">領域</th>
                            <th scope="col">產業類別</th>
                            <th scope="col">5+N產業類別</th>
                            <th scope="col">成果摘要</th>
                            <th scope="col">成果應用範疇</th>
                            <th scope="col">需求成熟度</th>
                            <th scope="col">市場成熟度</th>
                            <th scope="col">投資成熟度</th>
                            <th scope="col">製造成熟度</th>
                            <th scope="col">技術成熟度</th>
                            <th scope="col">組織成熟度</th>
                            <th scope="col">科學成熟度</th>
                            <th scope="col">社會貢獻成熟度</th>
                            <th scope="col">創新成熟度綜合評估</th>
                            <th scope="col">創新成熟度平均等級</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="form in forms">
                            <td ng-bind="form.UploadDate.substring(0, 10)"></td>
                            <td ng-bind="form.SubmitDate.substring(0, 10)"></td>
                            <td ng-bind="form"></td>
                            <td ng-bind="form.Deadline.substring(0, 10)"></td>
                            <td>
                                <p ng-if="form.Status==0">尚未送出</p>
                                <p ng-if="form.Status==1">未審查</p>
                                <p ng-if="form.Status==2">審查中</p>
                                <p ng-if="form.Status==3">修改</p>
                                <p ng-if="form.Status==4">未通過</p>
                                <p ng-if="form.Status==5">通過</p>
                            </td>
                            <td ng-bind="form.TeacherNum"></td>
                            <td ng-bind="form.Name"></td>
                            <td ng-bind="form.College"></td>
                            <td ng-bind="form.Department"></td>
                            <td ng-bind="form.Email"></td>
                            <td ng-bind="form.Phone"></td>
                            <td ng-bind="form.ResearchTopic"></td>
                            <td ng-bind="form.HIGHER"></td>
                            <td ng-bind="form.Industry"></td>
                            <td ng-bind="form.Industry5n"></td>
                            <td ng-bind="form.Description"></td>
                            <td ng-bind="form.Evaluation"></td>
                            <td ng-repeat="data in form.ChartData track by $index" ng-bind="data" ng-if="form.ChartData!==undefined"></td>
                            <td ng-bind="form"></td>
                            <td ng-bind="form"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>