<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>研發能量展現平台 > 審查發放/回收</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <script src="/library/jquery.dm-uploader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="/library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/library/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/function-style.css">
    <script src="/library/angular.js"></script>
    <script src="/processor/rnpp/examination.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script>
        if (!$.cookie('account')){window.location='/processor';}
        angular.module('Processor', []).controller('MainCtrl', function($scope, $http) {
        });

        $( function() {
            $('#date-start').datepicker({
                constrainInput: false,
                dateFormat: "yy/mm/dd"
            });
            $('#date-end').datepicker({
                constrainInput: false,
                dateFormat: "yy/mm/dd"
            });
            var sDate,eDate;
            $("#date_start").datepicker().on('changeDate',function(e){
                sDate = new Date($(this).datepicker('getUTCDate'));
                checkDate();
            });

            $("#date_end").datepicker().on('changeDate',function(date){
                eDate = new Date($(this).datepicker('getUTCDate'));
                checkDate();
            });

            function checkDate()
            {
                if(sDate && eDate && (eDate<sDate))
                {
                    $('#error').text("Date should lesser than start date");
                }
                else
                {
                    $('#error').text("");
                }
            }
        } );
    </script>
</head>

<body ng-app="ProcessorExamination"  ng-controller="MainCtrl">
    <div class="container">
        <div class="row">
            <h1>研發能量展現平台 > 審查發放/回收</h1>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">日期時間</th>
                    <th scope="col">教師姓名</th>
                    <th scope="col">主題</th>
                    <th scope="col">送審功能</th>
                    <th scope="col">審查意見</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in forms">
                    <td ng-bind="form.UploadDate.substring(0, 10)"></td>
                    <td ng-bind="form.Name"></td>
                    <td ng-bind="form.ResearchTopic"></td>
                    <td>
                        <a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#modal" data-whatever="@{{form._id}}" >點選</a>
                    </td>
                    <td ng-bind="form._id"></td>
                </tr>
            </tbody>
        </table>

        <button onclick="location.href='/processor/overview?sys=rnpp'" class="btn btn-sq-lg btn-danger">
            <i class="fa fa-reply fa-5x"></i><br />
            <br>返回
        </button>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form method="post" onsubmit="window.location.reload();">
        <div class="modal-body">
            <div class="form-group d-flex">
                <label for="name" class="col-4">姓名輸入</label>
                <input type="text" class="col-8" id="name" ng-model="name" required>
            </div>
            <div class="form-group d-flex">
                <label for="email" class="col-4">電子郵件輸入</label>
                <input type="email" class="col-8" id="email" ng-model="email" required>
            </div>
            <div class="form-group d-flex">
                <label for="date-start" class="col-4">審查日期起始</label>
                <input type="text" class="col-8" id="date-start" ng-model="date_start" required>
            </div>
            <div class="form-group d-flex">
                <label for="date-end" class="col-4">審查日期終止</label>
                <input type="text" class="col-8" id="date-end" ng-model="date_end" required>
            </div>
            <select class="form-control form-group col-12 d-flex justify-content-center" id="inputGroupSelect04" ng-model="selectedForm" required>
                <option value="">-審查表單選擇-</option>
                <option value="0">表單一</option>
                <option value="1">表單二</option>
            </select>
            
            <div>
                <img ng-if="selectedForm==0" src="/img/examFormExample1.jpg" alt="表單一" width="450vw" height="100%">
                <img ng-if="selectedForm==1" src="/img/examFormExample2.jpg" alt="表單一" width="450vw" height="100%">
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">取消</button>
            <button type="submit" class="btn btn-primary" ng-click="">送出</button>
        </div>

        </form>
        </div>
    </div>
</div>

</body>

</html>