<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>研發能量展現平台 > 審查發放/回收</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <script src="/library/jquery.dm-uploader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="/library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/library/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/checkAnimation.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/function-style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap_datepicker.css">
    <script src="/library/angular.js"></script>
    <script src="/processor/rnpp/examination.js"></script>
    <link href="/library/bootstrap_datepicker/bootstrap-datepicker3.css" rel="stylesheet"/>
    <script src="/library/bootstrap_datepicker/bootstrap-datepicker.js"></script>
    <script src="/library/bootstrap_datepicker/bootstrap-datepicker.zh-TW.js"></script>
    <script>
    </script>
</head>

<body ng-app="ProcessorExamination"  ng-controller="MainCtrl">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <h1>研發能量展現平台 > 審查發放/回收</h1>
            <button onclick="location.href='/processor/overview?sys=rnpp'" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-reply fa-1x"></i><br />
                <br>返回
            </button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">日期時間</th>
                    <th scope="col">教師姓名</th>
                    <th scope="col">主題</th>
                    <th scope="col">送審功能</th>
                    <th scope="col">審查意見</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in forms">
                    <td ng-bind="form.UploadDate.substring(0, 10)"></td>
                    <td ng-bind="form.Name"></td>
                    <td ng-bind="form.ResearchTopic"></td>
                    <td>
                        <a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#examModal" ng-click="triggerExam(form._id, 0)">點選</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#respondModal" ng-click="triggerRespond(form._id)">點選</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="examModal" tabindex="-1" role="dialog" aria-labelledby="examModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div ng-show="loading">
                    <div class="check_mark" ng-show="loading_state == 1">
                        <div class="sa-icon sa-success animate">
                        <span class="sa-line sa-tip animateSuccessTip"></span>
                        <span class="sa-line sa-long animateSuccessLong"></span>
                        <div class="sa-placeholder"></div>
                        <div class="sa-fix"></div>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center" ng-show="loading_state == 0"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                </div>
                      
                <form ng-submit="triggerExam(form._id, 1)" ng-show="!loading">
                    <div class="modal-body">
                        <div class="form-group d-flex">
                            <label for="name" class="col-4">姓名輸入</label>
                            <input type="text" class="col-8" id="name" ng-model="name" required>
                        </div>
                        <div class="form-group d-flex">
                            <label for="email" class="col-4">電子郵件輸入</label>
                            <input type="email" class="col-8" id="email" ng-model="email" required>
                        </div>
                        <div class="form-group d-flex">
                            <label for="date-start" class="col-4">審查日期起始</label>
                            <input type="text" class="col-8" id="date-start" ng-model="date_start" required>
                        </div>
                        <div class="form-group d-flex">
                            <label for="date-end" class="col-4">審查日期終止</label>
                            <input type="text" class="col-8" id="date-end" ng-model="date_end" required>
                        </div>
                        <select class="form-control form-group" id="inputGroupSelect04" ng-model="selectedForm" required>
                            <option value="">-審查表單選擇-</option>
                            <option value="0">表單一</option>
                            <option value="1">表單二</option>
                        </select>
                        
                        <div class="d-flex justify-content-center">
                            <img ng-if="selectedForm==0" src="/img/examFormExample1.jpg" alt="表單一" width="250vw" height="100%">
                            <img ng-if="selectedForm==1" src="/img/examFormExample2.jpg" alt="表單一" width="250vw" height="100%">
                        </div>
                        
                        <p class="text-danger" ng-bind="err_msg"></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">取消</button>
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="respondModal" tabindex="-1" role="dialog" aria-labelledby="respondModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <form ng-submit="triggerRespond(0,1)">
                    <div class="modal-body">
                        <div ng-show="loading">
                            <div class="check_mark" ng-show="loading_state == 1">
                                <div class="sa-icon sa-success animate">
                                <span class="sa-line sa-tip animateSuccessTip"></span>
                                <span class="sa-line sa-long animateSuccessLong"></span>
                                <div class="sa-placeholder"></div>
                                <div class="sa-fix"></div>
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-center" ng-show="loading_state == 0"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                        </div>
                        <table class="table table-bordered" ng-show="!loading">
                            <thead>
                                <th scope="col">送出時間</th>
                                <th scope="col">審查期限</th>
                                <th scope="col">委員姓名</th>
                                <th scope="col">委員郵件</th>
                                <th scope="col">回收狀況</th>
                                <th scope="col">查看建議</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="response in respond">
                                    <td ng-bind="response.submitDate.substring(0, 10)"></td>
                                    <td ng-bind="response.deadLine.substring(0, 10)"></td>
                                    <td ng-bind="response.name"></td>
                                    <td ng-bind="response.email"></td>
                                    <td ng-bind="response.isPass ? '已回傳' : '尚未回傳'">已回傳</td>
                                    <td>
                                        <a type="button" class="btn btn-primary text-white" ng-click="seeRespond(response._id)" ng-class="response.isPass ? '' : 'disabled'">點選</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>綜整審查結果</p>
                                    </td>
                                    <td class="d-flex justify-content-between">
                                        <label class="radio-inline"><input type="radio" name="radios" value="5" ng-model="radio" required>通過</label>
                                        <label class="radio-inline"><input type="radio" name="radios" value="4" ng-model="radio" required>未通過</label>
                                        <label class="radio-inline"><input type="radio" name="radios" value="3" ng-model="radio" required>修改</label>
                                    </td>
                                </tr>
                                <tr ng-if="radio==3" ng-init="init_deadline()">
                                    <td>
                                        <p>修改截止日期</p>
                                    </td>
                                    <td class="d-flex justify-content-between">
                                        <input type="text" class="col-8" id="deadline" ng-model="$parent.deadline" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">取消</button>
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>