<div style="
background-image: url('/img/pikachu.gif');
background-size: 10%;
background-repeat: repeat;
height: 100vh;
padding:0;
margin:0;">
    <p style="background-color: rgba(255,255,255,0.7) ;font-size: 7vw;position: absolute;left: 50%;top: 30%;transform: translate(-50%, -50%);">
        QQ找不到頁面
    </p>
</div>