<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font.css">
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-danger">表單已送出，無法再進行修改</h1>
    </div>

</body>

</html>