<!--
    committeeLogin.ejs
    committeeLogin頁面所使用的前端程式碼
-->

<!DOCTYPE html>

<head>
    <script src="../library/jquery-3.4.1.min.js"></script>
    <script src="../library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../library/bootstrap.min.css">
    <script src="../library/jquery.dm-uploader.min.js"></script>
    <link rel="stylesheet" href="../library/jquery.dm-uploader.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="../library/jquery.cookie.js"></script>
    <script src="/library/angular.js"></script>
    <script src="./committeeLogin.js"></script>
</head>

<body style="font-family:Microsoft JhengHei;" ng-app="committeeLogin" ng-controller="MainCtrl">
    <div class=" container text-center">
        <div class="card p-3">
            <div class="card-header">
                <h3>委員登入</h3>
            </div>
            <div class="card-body">
                <form>
                    <p>Email <input type="text" id="accountID" ng-model="account" /></p>
                    <p>密碼 <input type="password" id="passwordID" ng-model="password" /></p>
                </form>

                <input type="button" value="登入" id="LoginButton" ng-click="login()" />
            </div>
        </div>
    </div>
</body>