<!DOCTYPE html>

<head>
    <script src="../library/jquery-3.4.1.min.js"></script>
    <script src="../library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../library/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../library/jquery.dm-uploader.min.js"></script>
    <link rel="stylesheet" href="../library/jquery.dm-uploader.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="../library/jquery.cookie.js"></script>
   
</head>

<body onload="loadfinish()" >
    <div class =" container text-center">
        <div class="card p-3">
            <div class="card-header">
                <h3>審查頁面</h3>
            </div>
        </div>
    </div>
    <div aria-disabled="true" class="d-flex mt-3">    
        <iframe  onload="frameload()" id = "needReviewForm" style='pointer-events: none;' width="50%" height="450px" frameborder="1" scrolling="yes" ></iframe>
        <iframe  onload="reviewload()" style="margin-left: 3%;" id = "ReviewForm" width="50%" height="450px" frameborder="1" scrolling="yes"  ></iframe>
        
    </div>
    <div aria-disabled="true" class="d-flex mt-3">
        <button id = "saveBt" type="submit" onclick="saveBtClick()" class="btn btn-secondary m-auto col-md-2" >暫存</button>
        <button id = "submitBt" type="submit" onclick="submitBtClick()" class="btn btn-info m-auto col-md-2" >提交</button>                
        <button id = "canselBt" type="button" onclick="backBtClick()" class="btn btn-danger m-auto col-md-2" >取消</button>
</div>
    <script src="./committeeReview.js"></script>
</body>