<!DOCTYPE html>

<head>
    <script src="../library/jquery-3.4.1.min.js"></script>
    <script src="../library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../library/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../library/jquery.dm-uploader.min.js"></script>
    <link rel="stylesheet" href="../library/jquery.dm-uploader.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="../library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../stylesheets/index-style.css">
    <script src= "../controller/committee/committeeLogin.js"></script>
</head>

<body>
    <div class =" container text-center">
        <div class="card p-3">
            <div class="card-header">
                <h3>審查頁面</h3>
            </div>
        </div>
    </div>
</body>