<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <script src="/library/jquery.dm-uploader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="/library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/library/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/function-style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index-style.css">
    <script src="/library/angular.js"></script>
    <script src="indexController.js"></script>
    <link rel="stylesheet" href="/stylesheets/font.css">
</head>

<body ng-app="index" ng-controller="indexCtrl" class="w-100 h-100">
    <div class="container">
        <div class="row">
            <h1>研發能量展現平台</h1>
        </div>
    </div>

    <div class="d-flex w-100">
        <div class="img_container col-6">
            <img src="/static/iStock-1069239598.jpg" alt="教職員" class="image" style="width:100%;">
            <a href="/function">
                <div class="middle">
                    <div class="text">教職員入口頁面</div>
                </div>
            </a>
        </div>
        
        <div class="img_container col-6">
            <img src="/static/Committee-people-1024x683.jpg" alt="評審委員" class="image" style="width:100%">
            <a href="/committee">
                <div class="middle">
                    <div class="text">評審委員入口頁面</div>
                </div>
            </a>
        </div>
    </div>

</body>

</html>