<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>研發能量展現平台 > 查詢/修改資料</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <script src="/library/jquery.dm-uploader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="/library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/library/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/function-style.css">
    <script src="/library/angular.js"></script>
    <script src="progressController.js"></script>
    <link rel="stylesheet" href="./stylesheets/font.css">
</head>

<body ng-app="progress"  ng-controller="progressCtrl">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <h1>進度查詢</h1>
            <button onclick="location.href='/'" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-reply fa-1x"></i><br />
                <br>返回
            </button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">填寫日期</th>
                    <th scope="col">名稱</th>
                    <th scope="col">申請類型</th>
                    <th scope="col">申請狀況</th>
                    <th scope="col">意見回饋</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in forms">
                    <td ng-bind="form.UploadDate.substring(0, 10)"></td>                    
                    <td ng-bind="form.ResearchTopic"></td>
                    <td>
                        研發能量發展平台
                    </td>
                    <td>
                        <p ng-bind="statusDict[form.Status]"></p>                        
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#respondModal" ng-click="triggerRespond(form._id)">點選</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="respondModal" tabindex="-1" role="dialog" aria-labelledby="respondModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div ng-show="loading">
                        <div class="check_mark" ng-show="loading_state == 1">
                            <div class="sa-icon sa-success animate">
                            <span class="sa-line sa-tip animateSuccessTip"></span>
                            <span class="sa-line sa-long animateSuccessLong"></span>
                            <div class="sa-placeholder"></div>
                            <div class="sa-fix"></div>
                            </div>
                        </div>
                        <div class="w-100 d-flex justify-content-center" ng-show="loading_state == 0"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                    </div>
                    <table class="table table-bordered" ng-show="!loading" ng-if="respond.length > 0">
                        <thead>
                            <th scope="col">序號</th>
                            <th scope="col">送出時間</th>
                            <th scope="col">審查期限</th>
                            <th scope="col">回收狀況</th>
                            <th scope="col">查看建議</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="response in respond">
                                <td>{{$index+1}}</td>
                                <td ng-bind="response.submitDate.substring(0, 10)"></td>
                                <td ng-bind="response.deadLine.substring(0, 10)"></td>
                                <td ng-bind="response.isPass ? '已回傳' : '尚未回傳'">已回傳</td>
                                <td>
                                    <a type="button" class="btn btn-primary text-white" ng-click="seeRespond(response.opinion, response.isSubmit)" ng-class="response.isPass ? '' : 'disabled'">點選</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-show="!loading" ng-if="respond.length == 0">查無資料。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <table class='table table-bordered'>  
                        <tr>
                            <th scope='row' >審查意見填寫</th>
                            <td colspan='6' height=220px><textarea style ='width:100%;height:200px;' id = 'theopinion' ng-model="opinion" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th scope='row' >總體審查意見</th>
                            <td colspan='2'><input type='radio' name='reviewIsPass' id="reviewSuggest" value='0' ng-model="isSubmit" disabled> 建議</td>
                            <td colspan='2'><input type='radio' name='reviewIsPass' id="reviewNSuggest" value='1' ng-model="isSubmit" disabled> 不建議</td>
                            <td colspan='2'><input type='radio' name='reviewIsPass' id="reviewModify" value='2' ng-model="isSubmit" disabled> 修改</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>