<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>專責人員頁面</title>

    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    <script src="/library/jquery.dm-uploader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="/library/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/library/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/function-style.css">
    <link rel="stylesheet" href="/stylesheets/font.css">
    <script src="/library/angular.js"></script>
    <script src="/processor/processor.js"></script>
</head>

<body ng-app="Processor"  ng-controller="MainCtrl"  ui-view>
    <div class="container">
        <div class="row">
            <h1>專責人員頁面</h1>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <a href="/processor/edit" class="btn btn-sq-lg btn-primary text-white m-2" ng-hide="disabled">
                    <i class="fa fa-plus-circle fa-5x"></i>
                    <br/><br>查詢/修改資料
                </a>
                <a href="/processor/examination" class="btn btn-sq-lg btn-success text-white m-2" ng-hide="disabled">
                    <i class="fa fa-user fa-5x"></i>
                    <br/><br>審查發放/回收
                </a>
                <a href="/processor/download" class="btn btn-sq-lg btn-info text-white m-2" ng-hide="disabled">
                    <i class="fa fa-file-alt fa-5x"></i>
                    <br/><br>資料數據下載
                </a>
                <a href="" class="m-1 btn btn-sq-lg btn-warning text-white" ng-hide="!disabled" data-toggle="modal" data-target="#login">
                    <i class="fa fa-address-book fa-5x"></i><br />
                    <br>登入
                </a>
                <a href="" class="m-1 btn btn-sq-lg btn-secondary text-white" ng-hide="disabled" ng-click="logout()">
                    <i class="fa fa-address-book fa-5x"></i><br />
                    <br>登出
                </a>
                <a href="/" class="m-1 btn btn-sq-lg btn-danger">
                    <i class="fa fa-reply fa-5x"></i><br />
                    <br>返回
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginTitle">請先登入專責人員系統</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="loginAccount">帳號</label>
                        <input class="form-control" type="text" id="loginAccount" ng-model="account">
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">密碼</label>
                        <input class="form-control" type="password" id="loginPassword" ng-model="password">
                    </div>
                    <p ng-bind="msg" ng-hide="!msg" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="loginBtn" ng-click="login()">送出</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>