<!DOCTYPE html>

<head>
    <script src="../library/jquery-3.4.1.min.js"></script>
    <script src="../library/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../library/bootstrap.min.css">
    <script src="../library/jquery.dm-uploader.min.js"></script>
    <link rel="stylesheet" href="../library/jquery.dm-uploader.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="../library/jquery.cookie.js"></script>
</head>

<body>
    <div class =' container text-center'>
        <h1>審查表</h1>
    </div>
    <table class='table table-bordered'>
        <tr>
            <th scope='row' >市場價值性</th>
            <td colspan='2'><input type='radio' name='isMarketassessment' id = "MAtrue" value='0' >高</td>
            <td colspan='2'><input type='radio' name='isMarketassessment' id = "MAfalse" value='1'> 中</td>
            <td colspan='2'><input type='radio' name='isMarketassessment' id = "MANSure" value='2'> 低</td>
        </tr>
        <tr>
            <th scope='row' >技術競爭力</th>
            <td colspan='2'><input type='radio' name='isManufacturingEvaluation' id = "MEtrue" value='0'>高</td>
            <td colspan='2'><input type='radio' name='isManufacturingEvaluation' id = "MEfalse" value='1'> 中</td>
            <td colspan='2'><input type='radio' name='isManufacturingEvaluation' id = "MENSure" value='2'> 低</td>
        </tr>
        <tr>
            <th scope='row' >財務規劃完整性</th>
            <td colspan='2'><input type='radio' name='isFinancialEvaluation' id = "FEtrue" value='0'>高</td>
            <td colspan='2'><input type='radio' name='isFinancialEvaluation' id = "FFfalse" value='1'> 中</td>
            <td colspan='2'><input type='radio' name='isFinancialEvaluation' id = "FFNSure" value='2'> 低</td>
        </tr>    
        <tr>
            <th scope='row' >審查意見填寫</th>
            <td colspan='6' height=220px><textarea style ='width:100%;height:200px;' id = 'theopinion'></textarea></td>
        </tr>
        <tr>
            <th scope='row' >總體審查意見</th>
            <td colspan='2'><input type='radio' name='reviewIsPass' id="reviewSuggest" value='0'> 推薦</td>
            <td colspan='2'><input type='radio' name='reviewIsPass' id="reviewNSuggest" value='1'> 不推薦</td>
            <td colspan='2'><input type='radio' name='reviewIsPass' id="reviewModify" value='2'> 修改</td>
        </tr>
    </table>
</body>
